#content{
    position: relative;
    margin: 0;
}

#main{
    width: 50%;
    position: absolute;
    top: 0;
    left: 25%;
    margin: 0;
    background-color: purple;
}

#news{
    width: 20%;
    position: absolute;
    top: 0;
    left: 2.5%;
    margin: 0;
    background-color: brown;
}

#links{
    width: 20%;
    position: absolute;
    top: 0;
    right: 2.5%;
    margin: 0;
    background-color: aqua;
}